:root {
  --heading-font-family: "Playfair Display";
  --info-font-family: "Poppins";
}
p {
  line-height: 30px;
}

.hero p {
  font-family: var(--info-font-family);
  font-weight: bold;
  font-size: 36px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 90px;
}
.hero h2 {
  font-family: var(--info-font-family);
  font-weight: 300;
  font-size: 24px;
}

h3 {
  font-size: 50px;
  font-family: var(--heading-font-family);
}

.hero {
  text-align: center;
  padding: 176px 0;
  background: #f9f7fe;
}

.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border: 1px solid #6c63ff;
  border-radius: 4px;
  color: #6c63ff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 25px;
}

.about .container {
  margin: 50px 0;
  background-color: #f9f7fe;
  padding: 50px;
}
.about h3 {
  font-family: var(--info-font-family);

  font-weight: lighter;
  font-size: 25px;
}
.about h2 {
  font-family: var(--heading-font-family);

  font-size: 40px;
}

.about {
  background-color: #f9f7fe;
  text-align: center;
}

.work {
  margin: 50px 0;
  background-color: #f9f7fe;
  padding: 50px;
  text-align: center;
  font-family: var(--heading-font-family);
}

.image p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  font-family: var(--info-font-family);
}
.contact .container {
  margin-top: 150px;
  text-align: center;
  font-family: var(--heading-font-family);
}
.contact .container h2 {
  font-size: 45px;
}
.contact div {
  text-align: center;
  margin-top: 20px;
  font-family: var(--info-font-family);
}

.about-paragraphs {
  text-align: center;
}

.email-link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 15px;

  font-family: var(--info-font-family);
}
.email-link:hover {
  color: #6c63ff;
}

.social-links a {
  margin: 0 20px;
  color: #6c63ff;
  background-color: rgba(245, 245, 220, 0.607);
  border-radius: 50px;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background-color: #6c63ff;
}
.coder {
  font-family: var(--info-font-family);
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about h2 {
    font-size: 25px;
  }
  .about h3 {
    font-size: 20px;
  }
}
