:root {
  --heading-font: "Playfair Display";
  --info-font: "Poppins";
}
.hero {
  text-align: center;
  padding: 176px 0;
  background: #f9f7fe;
}
.hero p {
  font-family: var(--info-font);
  font-weight: bold;
  font-size: 36px;
}

.hero h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 90px;
}
.hero h2 {
  font-family: var(--info-font);
  font-weight: 300;
  font-size: 24px;
}
